:root{
	--colorOne: black;
	--colorTwo: white;
}


/* general */
*{
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	box-sizing: border-box;
	font-size:  1em;
}
h1{
	font-size: 3em;
	text-align: center;
	margin-bottom: 20px;
}
h2{
	font-size: 1.5em;
	font-family: adobe-garamond-pro;
	font-style: italic;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
p{
	text-align: justify;
	max-width: 600px;
}
.hidden{
	opacity: 0;
}

/* header */

header{
	width: 100%;
	position: fixed;
	display: -webkit-flex;
	display: flex;
	padding: 10px 6vw;
	transition: background 0.5s ease-in-out;
}
header.scrolled{
	background-color: white;
}
header nav{
	display: flex;
	margin-left: auto;
}
header nav ul {
	display: flex;
	list-style: none;
	margin: auto;
}
header nav ul li{
	margin: auto 0;
	padding: 0 20px;
}
header.scrolled nav ul li a{
	color: black;
}
header nav ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
/* gurger */
header input[type="checkbox"]{
	display: none; 
}
/* oaga */
#oaga figure{
	height: 60px;
}
header.scrolled figure img{
	filter: invert(0%) !important;
}
#oaga figure img{
	height: 100%;
	width: auto;
	filter: invert(100%);
}

/***********************************************/
/* main */

main section article{
	min-height: 90vh;
	display: flex;
	padding: 4vh 6vw;
}
main section article .content{
	margin: auto;
	display: flex;
	flex-direction: column;
}
/**********************************************/
/*************** Specifications ***************/

/* premiere section */
#first{
	padding-top: 50px;
	background-image: url(../imgs/concrete_banner.jpg);
	background-size: cover;
}
#first h1,
#first h2,
#first h3,
#first h4,
#first h5,
#first h6,
#first p{
	color:white;
}

/* photos */
#photos #pictures{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
#photos #pictures figure{
	width: 25%;
	margin: 0 auto;
}
#photos #pictures figure img{
	width: 100%;
	height: auto;
}

/* equipe */
#team{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
#team .person{
	margin: 20px auto;
	padding: 0 4vw;
}
#team .person h2{
	text-align: center;
	margin-bottom: 10px;
}
#team .person p{
	text-align: center;
}
#team figure{
	width: 100px;
	margin: auto 0;
}
#team figure img{
	width: 100%;
	height: auto;
}

/* contact */
form label{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bolder;
	color: var(--colorOne);
	padding: 9px;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
form input{
	border: none;
	border-radius: 20px;
	display: block;
	padding: 0 10px;
	font-size: 14px;
	height: 30px;
	color: var(--colorOne);
	width: 100%;
	box-shadow: 0px 0px 2px 0px var(--colorOne);
}
form textarea{
	border: none;
	border-radius: 20px;
	display: block;
	padding: 10px;
	font-size: 14px;
	color: var(--colorOne);
	width: 100%;
	resize: vertical;
	box-shadow: 0px 0px 2px 0px var(--colorOne);
}
form textarea:focus{
	outline: none;
}
form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder{
	color: var(--colorOne);
}
form input:-moz-placeholder,
form textarea:-moz-placeholder{
	color: var(--colorOne);
}
form input::-moz-placeholder,
form textarea::-moz-placeholder{
	color: var(--colorOne);
}
form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder{
	color: var(--colorOne);
}
form input:not([type="submit"]):focus{
	outline: none;
}
form > div{
	display: -webkit-flex;
	display: flex;
}
form > div > div{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	flex:1;
	padding: 0 10px;
}
form > div:not(:first-child){
	-webkit-flex-direction:column;
	flex-direction:column;
	padding: 0 10px;
}
form input[type="submit"]{
	width: 100px;
	height: 35px;
	background-color: var(--colorOne);
	margin: auto;
	cursor: pointer;
	line-height: normal;
	font-size: 16px;
	color: var(--colorTwo);
	outline: none;
	margin-bottom: 10px;
}
form input[type="submit"]:focus{
	outline: none;
	-webkit-box-shadow: 0px 0px 5px 0px black inset;
	-moz-box-shadow: 0px 0px 5px 0px black inset;
	box-shadow: 0px 0px 5px 0px black inset;
}

/* footer */
footer{
	background-color: black;
	display: flex;
	height: 200px;
	color: var(--colorTwo);
	text-align: center;
}
footer *{
	margin: 0 auto;
}
footer span{
	margin: auto;
}

/**********************************************/

@media only screen and (max-width: 800px){

	header{
		flex-direction: row-reverse;
	}
	header nav{
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0,0,0,0.3); 
	}
	header nav ul {
		min-width: 200px;
		padding: 0px 30px;
		height: calc(100vh - 50px);
		display: flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		position: absolute;
		top: 0;
		left: -100%;
		list-style: none;
		background-color: var(--colorTwo);
		-webkit-transition: all 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
		-moz-transition: all 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
		-ms-transition: all 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
		-o-transition: all 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	}
	header nav ul li{
		margin: 15px 0;
		padding: 0 80px;
	}
	header nav ul li a{
		color: var(--colorOne);
	}
	header label{
		position: absolute;
		cursor: pointer;
		display: block;
		height: 4vh;
		width: 5vh;
		top: 50%;
		left: 40px;
		transform: translateY(-50%);
	}
	header label div{
		position: relative;
		height: 100%;
		width: 100%;
	}
	header label span:first-of-type{
		top: 0;
	}
	header label span:nth-of-type(2){
		top: 50%;
		transform: translateY(-50%);
	}
	header label span:last-of-type{
		bottom: 0;
	}
	header label span{
		position: absolute;
		height: 12%;
		width: 100%;
		border-radius: 50px;
		background-color: var(--colorTwo);
		-webkit-transition: all 250ms ease-in-out;
		-moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		-o-transition: all 250ms ease-in-out;
		transition: all 250ms ease-in-out;
	}
	header.scrolled label span{
		background-color: var(--colorOne);
	}

	header input#burger:checked nav{
		visibility: visible;
	}
	header input#burger:checked nav ul {
		left: 0;
	}
	header input#burger:checked + label span:first-of-type{
		transform: translateY(360%) rotate(-135deg);
	}
	header input#burger:checked + label span:nth-of-type(2){
		transform: rotate(-45deg);
		background-color: transparent;
	}
	header input#burger:checked + label span:last-of-type{
		transform: translateY(-360%) rotate(-225deg);
	}
	header input#burger:checked ~ nav{
		visibility: visible;
	}
	header input#burger:checked ~ nav ul{
		left: 0;
	}

}